[Unit]
Description=Cleanup old Snapshots every %i 
ConditionPathExists=!/run/mkbackup
ConditionPathExists=!/run/btrfs-actions
ConditionDirectoryNotEmpty=!/run/mkbackup
Conflicts=suspend.target shutdown.target sleep.target
OnFailure=status-email-root@%n.service
After=mkbackup.target

[Service]
RuntimeDirectory=mkbackup

Nice=10
IOSchedulingClass=3
#IOSchedulingPriority=
CPUSchedulingPolicy=idle

ExecStartPre=/bin/sh -c "(/bin/systemctl is-active -q mkbackup.target)"
ExecStartPre=/bin/touch /run/mkbackup/%i-cleanup-systemd.lock
ExecStart=/usr/local/bin/mksnapshot -V cleanup SNP BKP


ExecStopPost=-/bin/systemctl start update-backuplinks.target
ExecStopPost=-/bin/rm /run/mkbackup/%i-cleanup-systemd.lock

[Install]
WantedBy=timer-%i.target 
