[Unit]
Description=Set Environment syssubvol for systemd

[Service]
Type=simple
ExecStart=/bin/sh -c '/bin/systemctl set-environment SYSSUBVOL=`/etc/systemd/system/scripts/syssubvol`'

[Install]
WantedBy=basic.target
