[Unit]
Description=Set Environment syssubvol for systemd

[Service]
Type=simple
ExecStart=/bin/sh -c '/bin/systemctl set-environment SYSSUBVOL=`/usr/local/bin/syssubvol`'

[Install]
WantedBy=basic.target
