[Unit]
Description=Show all userspezific backups in %h/backup
BindsTo=mkbackup-userdir.path
Conflicts=shutdown.target reboot.target sleep.target umount.target
Before=shutdown.target reboot.target sleep.target umount.target

[Service]
ExecStart=/usr/bin/MksnapshotFS.py -f %h/backup -o ro,allow_root
ExecStop=-/bin/fusermount -u %h/backup
Restart=on-success
