[Unit]
Description=Runs btrfs-balance on %f weekly
ConditionPathIsMountPoint=%f

[Timer]
OnCalendar=Wed *-*-* 00:00:00
#OnCalendar=weekly
Persistent=true
Unit=btrfs-balance@%i.service

[Install]
WantedBy=%i.mount
