[Unit]
Description=Daily Timer
OnFailure=status-email-root@%n.service

[Timer]
OnCalendar=*-*-* 10:00:00
Persistent=true
Unit=timer-daily.target
AccuracySec=1us
RandomizedDelaySec=10min

[Install]
#WantedBy=basic.target
WantedBy=timers.target
