[Unit]
Description=Timer for event after successfull boot

[Timer]
OnActiveSec=90s
Unit=timer-afterboot.target
AccuracySec=1us
RandomizedDelaySec=5min

[Install]
WantedBy=multi-user.target
