ACTION=="add", KERNEL=="sd*", SUBSYSTEMS=="usb", ENV{ID_FS_UUID}="ec1438f5-3f5b-407c-b83f-cef6ba7a6c3c", \
	SYMLINK+="disk/mars", TAG+="systemd", ENV{SYSTEMD_WANTS}+="backup-automount.target", ENV{SYSTEMD_WANTS}+="mkbackup-transfer.target"

ACTION=="remove", KERNEL=="sd*", SUBSYSTEMS=="usb", ENV{ID_FS_UUID}="ec1438f5-3f5b-407c-b83f-cef6ba7a6c3c", \
	RUN+="/bin/systemctl --no-block stop backup-automount.target mkbackup-transfer.target"
