[Unit]
#Before=local-fs.target
#BindsTo=backup.automount

[Mount]
What=MksnapshotFS.py
Where=/backup
Type=fuse
TimeoutSec=10s
Options=noauto,ro,nofail
