[Unit]
Description=Activate external Drive/Partition for mkbackup for device %i
Wants=mkbackup@BKP.target
Before=mkbackup@BKP.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/mksnapshot-create-volume.sh start %i
