[Unit]
Description=Create or update temporary conf-file /tmp/%I.conf.tmp for shell-extension 

[Service]
ExecStart=/bin/sh -c "(/usr/local/bin/mkbackup list -i --print-config > /tmp/%I.conf.tmp)"
