[Unit]
Description=Runs backup %I after pluggin in external HD
#BindsTo=mkbackup@BKP.target
PartOf=mkbackup@BKP.target

[Timer]
OnActiveSec=30s
Unit=mkbackup@%i.service

[Install]
WantedBy=mkbackup@BKP.target
