[Unit]
Description=Cleanup old Snapshots daily on %i
ConditionPathExists=!/run/mkbackup
ConditionPathExists=!/run/btrfs-actions
ConditionDirectoryNotEmpty=!/run/mkbackup
Conflicts=suspend.target shutdown.target sleep.target
OnFailure=status-email-root@%n.service
After=mkbackup@%i.target

[Service]
RuntimeDirectory=mkbackup

Nice=10
IOSchedulingClass=3
#IOSchedulingPriority=
CPUSchedulingPolicy=idle

ExecStartPre=/bin/sh -c "(/bin/systemctl is-active -q mkbackup@%i.target)"
ExecStartPre=/bin/touch /run/mkbackup/daily-cleanup-systemd.lock
ExecStart=/usr/local/bin/mksnapshot -V -c -C cleanup %i


#ExecStopPost=-/bin/systemctl start update-backuplinks.target
ExecStopPost=-/bin/rm /run/mkbackup/daily-cleanup-systemd.lock

[Install]
WantedBy=timer-daily.target 
