[Unit]
Description=Hourly Timer
OnFailure=status-email-root@%n.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
Unit=timer-hourly.target
AccuracySec=5min

[Install]
WantedBy=basic.target
