[Unit]
Description=Yearly Timer
OnFailure=status-email-root@%n.service

[Timer]
OnCalendar=*-01,07-01 12:30:00
RandomizedDelaySec=1month
AccuracySec=15days
Persistent=true
Unit=timer-monthly.target

[Install]
WantedBy=timers.target
