[Unit]
Description=Daily Timer
OnFailure=status-email-root@%n.service

[Timer]
OnCalendar=*-*-* 10:00
RandomizedDelaySec=12h
AccuracySec=1h
Persistent=true
Unit=timer-daily.target
#AccuracySec=5min

[Install]
WantedBy=timers.target
