[Unit]
Description=10-Minutes Timer

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
RandomizedDelaySec=5min
AccuracySec=1min
Unit=timer-dmin.target

[Install]
WantedBy=timers.target
