[Unit]
Description=Weekly Timer
OnFailure=status-email-root@%n.service

[Timer]
OnCalendar=Mon *-*-* 20:00:00
RandomizedDelaySec=4days
AccuracySec=1day
Persistent=true
Unit=timer-weekly.target

[Install]
WantedBy=timers.target
