[Unit]
Description=Updates backup-links in %i's homedirectory
Wants=backup.mount backup\x2dlocal.mount
OnFailure=status-email-root@%n.service

[Service]
Type=idle
#Type=oneshot
User=%i
WorkingDirectory=/home/%i
ExecStartPre=/usr/bin/install -d backup
ExecStart=/usr/local/bin/update-backuplinks 

[Install]
WantedBy=update-backuplinks.target
