.system-menu-action.services-systemd-button-transfer {
    height: 18px;
    padding: 0px;
    border: 0px;
}

.system-menu-action.services-systemd-button-reload {
    height: 18px;
    width: 18px;
    padding: 0px;
    border: 0px;
}

.disk-active-icon {
    icon-size: 1.09em;
    padding: 0 5px;
    color: #ff0000;
}
.system-status-icon-red {
    icon-size: 1.09em;
    padding: 0 5px;
    color: #ff0000;
}
